<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <title>Trabajadores por Area </title>
  <link rel='shortcut icon' href='{{STATIC_URL}}img/icono.png'>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="{{STATIC_URL}}css/base.css" rel="stylesheet" media="screen">
  <script language="Javascript" type="text/Javascript">


      var expacum = "";

      function selitem () {
         var area = $('#sarea')[0].value;
     
         var src='/areastrabajlst/?id='+area;
         document.getElementById('areatrabajad').src = src; 
      };    

      function modificar () {


        while (expacum.indexOf("#a") >= 0)
        {
             expacum = expacum.replace("#a", ","); 
        };
        if (expacum[0]== ','){
          expacum = expacum.replace(",", ""); 
        };
        
        $('#modificarform').modal('hide');
        // Create a form
        var fd = new FormData();
        fd.append("id", '{{ areaid }}'); 
        fd.append("usuarios", expacum); 
        fd.append("csrfmiddlewaretoken", "{{ csrf_token }}");

        var y = new XMLHttpRequest();
            y.onload = function() {   
               $('#tabla').html(y.response);
              //document.getElementById('areatrabajad').src = '/areastrabajlst/?id={{ areaid }}'; 

            };
            y.open('POST', '/areatrabajadfm/');
            y.send(fd);
            expacum = "";

      };
      
      function seleccionar (exp) {
     
         if ($(exp).hasClass("ok")){
            $(exp).removeClass("ok");
            $(exp).removeClass("glyphicon-ok");
            $(exp).addClass("glyphicon-unchecked");
            $(exp).css("color","white");
            expacum = expacum.replace(exp, "");

          }else{
            $(exp).addClass("ok");
            $(exp).addClass("glyphicon-ok");
            $(exp).removeClass("glyphicon-unchecked");
            $(exp).css("color","lime");
            expacum = expacum + exp;

          };  
      };

      function quitar (noexp) {
        var src='/areastrabajlst/?id={{ areaid }}';
        var y = new XMLHttpRequest();
            y.onload = function() {
                if (y.response == 'ok') {
                    $('#exp' + noexp).attr('hidden', "True");
                }
            };
            y.open('GET', '/areatrabjquitar/?noexp='+ noexp);
            y.send();
      };

      function ver_editar () {

      var y = new XMLHttpRequest();
        y.onload = function() {             

                $('#prueba1234').html(y.response);
                $('#modificarform').modal('show');

        };
        y.open('GET', '/areatrabajadfm/?id={{ areaid }}');
        y.send();

          };
  </script>
</head>
<body class="body90">
   <div id="tabla" >
    <table class="table table-bordered " >
        <thead><th hidden="hidden"></th>
            <th width="100px">Expediente</th>
            <th>Nombre</th>
            <th><a class="btn btn-default btn-xs pull-right" onclick="ver_editar();" >
            <span style=" color: blue" class="glyphicon glyphicon-plus" title="Agregar trabajador" ></span></a></th>        
        </thead>

        {% for elemento in trabajadores %}
             {% if elemento.id > 1 %}
                  <tr id="exp{{elemento.noexp}}"><td hidden="hidden" class="action-checkbox"></td>
                      <td class=" text-left"  >{{elemento.noexp}}</td>
                      <td class=" text-left"  >{{elemento.nombre}}</td>
                      <td class="btngrid lineagrid">
                          <a class="btn btn-default btn-xs " onclick="quitar('{{elemento.noexp}}');" >
                          <span style=" color: #ff4f00" class="glyphicon glyphicon-trash" title="Quitar  trabajador  <{{ elemento.nombre}}> del  area" ></span></a>
                      </td>

                  </tr>
            {% endif %}
        {% endfor %}
    </table>
   </div>
      <div id = "prueba1234">
    </div>




   <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> 
</body>
</html>
  
