
<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <title>Evaluacion de Trabajadores - {% block titulo %}{% endblock %}</title>

  <link rel='shortcut icon' href='{{STATIC_URL}}img/icono.png'>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" media="screen">     
  <link href="{{STATIC_URL}}css/base.css" rel="stylesheet" media="screen">   
  {% block style_css %}{% endblock %}

<script language="Javascript" type="text/Javascript">   

  function buttononClick(src) {
            document.getElementById('frameprcpl').src = src; 
            return;
        }
 </script>
</head>
<body>
<div class="base">
<div class="container-fluid">
  <div class="col-xs-12 col-md-12">
    <div class="panel panel-default ">
      <div class="panel-body">
        <div style="padding-top:6px; " class="col-xs-10 col-md-10 text-center"><span > <h2 >Control de Evaluaciones</h2></span></div>
        <div class="col-xs-2 col-md-2"><a data-toggle="tooltip" title="Salir del programa" class="btn btn-default btn-xs pull-right" href="/salir/" ><b>X</b></a></div>
      </div>
    </div>
  </div>
  <div class="padding-off container-fluid">
    <div class=" padding-off col-xs-10 col-md-10">
    	<iframe frameborder="0" id="frameprcpl"  src="/usuarios/" style="margin:0px; height:600px; width:100%">
                               
      </iframe>
    </div>
  </div>
</div>
</div>  
   <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"></script>    
</body>
</html>