{% extends 'nombase.html' %}

  {% block titulo %} Nomenclador de Indicadores para Cuadros {% endblock %}

   {% block javascript %}
      function Valida(formulario){
         formulario.peso.value = formulario.peso.value.replace(',', '.');

         var peso = formulario.peso.value * 100;
         var maximo = formulario.maxval.value * 100;
         if ( peso > maximo){

            Alert('Solo se permiten números menores ó iguales a ' + String( formulario.maxval.value));
            return false;

         } else{ return true; }
      };


      function modificar_indicador (id) {
        var y = new XMLHttpRequest();
            y.onload = function() {   

                /*var resp_array = y.response.split(",");             

                for (var i = 0; i <= 4; i++) { 
                  var campo = resp_array[i];
                      campo = campo.split("=");
                  var nombre = campo[0];
                  var valor = campo[1];
                  nombre = '#fm'+nombre+'_value';
                  var obj = $(nombre);
                  obj
                  obj.innerHTML = valor;
                  obj.HTML = valor;

                    }*/

                $('#prueba1234').html(y.response);
                $('#modificarform').modal('show');

            };
            var oper = 'e';
            if ( id == -1){
                oper = 'a';
            };
            y.open('GET', '/modindcuad/?id='+id+'&oper='+oper);
            y.send();      

      };

      function salva (id) {
        var y = new XMLHttpRequest();
            y.onload = function() {   

 
                $('#prueba1234').html(y.response);
                $('#modificarform').modal('show');

            };
            y.open('GET', '/modindcuad/?id='+id +'&oper=e');
            y.send();      

      };

      function buscar_indgen() {
        

      };

      function borrar_indicador(id) {
        

      };

{% endblock %}
  

    {% block funcaction %}/indcuad/{% endblock %}
    {% block tituloh %}Indicadores para Cuadros{% endblock %}



{% block contenido %}   


    <table class="table table-bordered ">
    <thead><th hidden="hidden"></th>
        <th width="70" align="center">&nbsp;Orden</th>
        <th>&nbsp;Indicador</th>
        <th width="70" align="right">&nbsp;Peso</th>
        <th></th>
        <th><a class="btn btn-default btn-xs " onclick="modificar_indicador('-1');" >
            <span style=" color: #4C8FD6" class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="left" title="Añadir indicador" ></span></a></th>
    </thead>

    {% for elemento in indicador %}
      <tr id = "id{{elemento.id}}">
        <td hidden="hidden">{{elemento.id}}</td>
        <td class=" text-center" >{{elemento.orden}}</td>
        <td class=" text-left"  >&nbsp;{{elemento.nombre}}</td>
        <td>{{elemento.peso}}</td>
        <td class="btngrid lineagrid">
          <a class="btn btn-default btn-xs " href="/modindcuad/?id={{elemento.id}}&oper=b"  >
          <span style=" color: #ff4f00" class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="left" title="Borrar el indicador" ></span></a>
        </td>
        <td class="btngrid lineagrid">
          <a class="btn btn-default btn-xs " onclick="modificar_indicador({{elemento.id}});" >
          <span style=" color: #4C8FD6" class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="left" title="Editar el indicador" ></span></a>
        </td>
      </tr>
    {% endfor %}
  </table>
  
{% endblock %}  
{% block contenido1 %}  
  <div id = "prueba1234">
                             
  </div>    
{% endblock %} 


     


