{% extends 'baseeval.html' %}
 {% block javascript %}



      var itemsel = 0;

      function hacercopia (indexp) {
         var seleccionado = $('#copia')[0].value;
     
          var y = new XMLHttpRequest();
            y.onload = function() {   



            };
            y.open('GET', '/indesp_copiar/?desde='+seleccionado+'&para={{usuario.id}}' );
            y.send();        

      };


      function seleccionar () {
         var indgen = $('#sindgen')[0].value;
     
         var src='/indesp/?indgen='+indgen+'&cargo={{cargo.id}}';
         document.getElementById('frindesp').src = src; 
      };

      function selitem () {
         var indgen = $('#sindgen')[0].value;
     
         var src='/indesp/?indgen='+indgen+'&usuario={{usuario.id}}';
         document.getElementById('frindesp').src = src; 
      };

       function ver_editar (indexp) {

          var y = new XMLHttpRequest();
            y.onload = function() {   

                    $('#prueba1234').html(y.response);
                    $('#modificarform').modal('show');

            };
            y.open('GET', '/indesp_ver/?id='+indexp+'&cargo={{cargo}}&indgen={{indgen}}' );
            y.send();        

          };

      function modificar (exp) {

        while (expacum.indexOf("#a") >= 0)
        {
             expacum = expacum.replace("#a", ","); 
        };
        if (expacum[0]== ','){
          expacum = expacum.replace(",", ""); 
        };
        var noexp = "{{evaluador.noexp}}";    
        $('#modificarform').modal('hide');


        var y = new XMLHttpRequest();
            y.onload = function() {   
              $('#tabla').html(y.response);

            };
            y.open('GET', '/seleccionar_usuario/?exp={{evaluador.noexp}}&usuarios='+expacum+'');
            y.send();

      };

{% endblock %}
  
{% block contenido %} 
<div class="container">
  
  <div class="col-xs-9 col-md-9">    
    <h5>Configuracion de los indicadores Especificos para &nbsp;<b>{{usuario.noexp}}&nbsp;{{usuario.nombre}}</b></h5>

  </div> 
  <div class="col-xs-3  col-md-3">    
    <label  for="copiar">Copiar desde:</label>
        <SELECT onchange="hacercopia();"  id="copia" NAME="copiar" SIZE="1" data-toggle="tooltip" data-placement="top" title="Copiar los indicadores ya definidos para otro trabajador" >   
            <option selected value="-1"> </OPTION> 
            {% for elemento in copiar %} 
              <option value="{{elemento.id}}">{{elemento.noexp}}:{{elemento.nombre}}</OPTION>
            {% endfor %}
        </SELECT>  <br>
  </div> 
  
  <div class="container">
    <div class="col-xs-1 col-md-1"></div>
    <div class="col-xs-10  col-md-10"> 
        <label for="Indicadores">Indicador General :</label><br>
        <SELECT onchange="selitem();"  id="sindgen" NAME="Indicadores" SIZE="1" data-toggle="tooltip" data-placement="top" title="Seleccione el indicador general">   
            <option selected value="-1"> </OPTION> 
            {% for elemento in indgen %} 
              <option value="{{elemento.id}}">{{elemento.nombre}}</OPTION>
            {% endfor %}
        </SELECT>   
      </div><!-- /.col-xs-11 -->

      </div>
    </div>
    <hr>
     <div class="container">
        <div class="col-xs-1  col-md-1"> </div>
  
        <iframe class="col-xs-11  col-md-11" frameborder="0" id="frindesp"  src="" style="margin=0px; height:370px;">
                                                
        </iframe>
   </div>
  </div>  

    <div id = "prueba1234">                             
    </div>
 {% endblock %}
      

	
